.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#vue2 folder
vue2/.DS_Store
vue2/node_modules
vue2/dist

vue2/# local env files
vue2/.env.local
vue2/.env.*.local

vue2/# Log files
vue2/npm-debug.log*
vue2/yarn-debug.log*
vue2/yarn-error.log*
vue2/pnpm-debug.log*

vue2/# Editor directories and files
vue2/.idea
vue2/.vscode
vue2/*.suo
vue2/*.ntvs*
vue2/*.njsproj
vue2/*.sln
vue2/*.sw?

