@use "../variables/colors";

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': colors.$primary, // todo: this MUST be a valid 6-digit HEX color in order to make it correctly work
    ),
  )
);

@use "element-plus/theme-chalk/src/base";
@use "element-plus/theme-chalk/src/button";
@use "element-plus/theme-chalk/src/badge";
@use "element-plus/theme-chalk/src/message";
@use "element-plus/theme-chalk/src/select";
@use "element-plus/theme-chalk/src/input";
@use "element-plus/theme-chalk/src/option";
@use "element-plus/theme-chalk/src/popper";
@use "element-plus/theme-chalk/src/loading";
@use "element-plus/theme-chalk/src/form";
@use "element-plus/theme-chalk/src/form-item";
@use "element-plus/theme-chalk/src/card";
@use "element-plus/theme-chalk/src/table";
@use "element-plus/theme-chalk/src/switch";
